:root {
	--primary: #607d8b;
	--primary-light: #8eacbb;
	--primary-dark: #34515e;
	--secondary: #ffa000;
	--secondary-light: #ffd149;
	--secondary-dark: #c67100;
	--on-primary: #000000;
	--on-primary-light: #000000;
	--on-secondary: #000000;
	--on-secondary-light: #000000;
	--background: #ffffff;
	--surface: #ffffff;
	--error: #b20000;
}

[data-theme="dark"] {
	--primary: #202124;
	--primary-light: #282a2d;
	--primary-dark: #202124;
	--secondary: #03dac5;
	--background: #0E1013;
	--surface: #121212;
	--on-primary: #ffffff;
	--on-primary-light: #ffffff;
	--on-secondary: #000000;
	--on-background: #ffffff;
	--on-surface: #ffffff;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: var(--background);
	font-family: Impact, Charcoal, sans-serif;
}

h2 {
	color: var(--on-primary);
}

.loadLocButton {
	margin-left: 10px;
	margin-top: 10px;
	height: 50px;
	border: 0px solid;
	border-radius: 24px;
	background-color: var(--secondary);
	font-size: 20px;
	margin-bottom: 10px;
}

.imprintBox {
	text-align:left;
	margin-left: 30px;
	margin-top: 20px;
	font-size: 15px;
	color: var(--on-primary);
}

.imprint {

	background-color: var(--primary);
	border: 1px solid var(--primary);
	border-radius: 15px;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


.grid-container {
	display: grid;
	grid-template-columns: 450px auto 450px;
}

.item1 {
	grid-column: 1;
}
.item2 {
	grid-column: 2;
}
.item3 {
	grid-column: 3;
}

.header {
	background: var(--background);
	margin-top: 0;
	position: relative;
	color: var(--on-primary);
}

.map {
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border: 5px solid var(--primary);
	border-radius: 24px;
	padding: 0px;
}

.location {
	color: var(--on-primary);
	background: var(--primary);
	margin-left: 80px;
	margin-top: 35px;
	border: 2px solid var(--primary);
	border-radius: 24px;
	padding: 5px;
}

.locationHeading {
	background: var(--primary);	
	font-size: 25px;
	margin-left: 15px;
}

.locationBox {
	font-size: 25px;
	background: var(--primary-light);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border: 2px solid var(--primary);
	border-radius: 15px;
	padding: 5px;
}

.countryShortcut {
	background: var(--primary);
	margin-right: 80px;
	margin-left: 80px;
	margin-top: 35px;
	border: 2px solid var(--primary);
	border-radius: 24px;
	padding: 10px;
	width: 50%;
	margin-bottom: 35px;
}

.countryHeading {
	color: var(--on-primary);
	margin-left: 15px;
	font-size: 20px;
}

.accordionDiv {
	margin-right: 15px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.accordion {
	background-color: var(--primary-light);
	color: var(--on-primary);
	text-align: left;
	cursor: pointer;
	width: 100%;
	padding: 15px;
	border: none;
	border-bottom: 1px solid var(--primary-dark);
	transition: 0.8s;
	font-size: 20px;
}

.active, .accordion:hover {
	color: var(--on-secondary);
	background-color: var(--secondary);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.accordion:after {
  content: '\002B';
  color: var(--on-primary);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  color: var(--on-secondary);
}

.panel {
	color: var(--on-primary);
	background-color: var(--primary-light);
	display: none;
	overflow: hidden;
	width: 100%;
	transition: max-height 0.2s ease-out;
}

.panelText {
	margin-left: 10px;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.navBar {
	font-size: 20px;
	margin: 0;
	margin-bottom: 0;
	color: var(--on-primary);
	font-weight: bold;
}

.navBar li a{
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: var(--on-primary);
	height: 100%;
}

.navBar li a:hover {
	background-color: var(--secondary);
	border: 0px solid var(--secondary);
	border-radius: 15px;
}

.navBar li {
	float: left;
}

.navBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--primary-light);
}

#map {
	height: 400px;
	width: 800px;
}
.switch {
}

.darkModeIcon {
	margin-left: 10px;
	padding: 10px 16px;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

  em {
    margin-left: 10px;
    font-size: 1rem;
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #bb86fc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 800px) {
	#map {
		width: 350px;
		height: 400px;
	}

	.grid-container {
		display: block;
	}

	.location
	{
		margin-right: 10px;
		margin-left: 10px;
	}

	.imprint
	{
		width: 350px;
	}
}

@media (min-width: 800px) and (max-width: 1024px) {
	#map {
		width: 400px;
		height: 400px;
		margin-left: 60px;
	} 

	.grid-container {
		display: block;
	}

	.location {
		margin: 60px;
	}

	.countryShortcut {
		margin: 60px;
	}
}
